.container {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.back{
    display: flex;
    column-gap: 20px;
    align-items: center;
    background-color: var(--blue);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    align-self: flex-start;
    margin-bottom: 20px;
}

.back p{
    color: white;
}

.image {
    width: 100%;
    border-radius: 5px;
}

.header {
    margin: 40px 0 20px;
    font-size: 1.5rem;
}

.details {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 20px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.details > div{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0;
}

.details div > div{
    display: flex;
    align-items: baseline;
    margin: 0;
}

.details span {
    color: gray;
    margin: 0;
}

.details p {
    margin-left: 10px;
}

.descriptionTitle {
    margin: 15px 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.descriptionText {
    color: gray;
    text-align: justify;
    margin-bottom: 10px;
}

.details .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price p,
.price span {
    font-size: 1.5rem;
    margin-right: 10px;
}

.button {
    background-color: var(--blue);
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    margin: 50px 0;
    cursor: pointer;
}

@media (max-width: 600px) {
    .container {
        margin: 0 15px;
    }


    .header {
        margin: 30px 0 20px;
        font-size: 1.3rem;
    }

    .details span , .details p  {
        font-size: 15px;
    }

    .price p,
    .price span {
        font-size: 1rem;
        margin-right: 8px;
    }

    .button {
        font-size: 1.1rem;
    }
}