.container{
    width: fit-content;
    padding: 10px;
    box-shadow: 0 8px 24px gray;
    height: 380px;
}

.image{
    width: 300px;
    border-radius: 5px;
}

.title{
    font-size: 1rem;
    margin: 10px 0;
}

.details{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.price {
    background-color: var(--blue);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0;
    color: white;
}

.location {
    display: flex;
    margin: 0;
    align-items: baseline;
}

